---
permalink: /projects/
layout: default
title: Projects
css: ['projects.css']
desc: A listing of all our past, present and future projects.
---
{% include construction.html %}

<script type="text/javascript">
	var maxitemsperpage = 5;
	var curpage = -1;
	var cards;
	var current;
	var planned;
	var completed;
	function change_page(next = true, pages = 1) {
		if (pages === 0) { return; }
		// defaults to work with to get the current page
		let start = curpage * maxitemsperpage;
		let end = (curpage + 1) * maxitemsperpage;
		// set old page
		let oldpage = cards.slice(start, end);
		// increment current page based on user input
		if (next === true) {
			curpage += pages;
		}
		else {
			curpage -= pages;
		}
		// start working on the new page
		let newstart = curpage * maxitemsperpage;
		let newend = (curpage + 1) * maxitemsperpage;
		// handle wrapping
		let wrap = false;
		// first check if the start of the new page is out of range
		if (newstart >= cards.length || newstart < 0) {
			wrap = true;
		}
		// wrapping logic
		if (wrap === true) {
			// if trying to load next page when there isn't one then wrap back to the first page instead
			if (next === true) {
				newstart = 0;
				newend = maxitemsperpage;
				curpage = 0;
			}
			// otherwise, if trying to load the "-1th" page that doesn't exist, wrap back to the last page
			else {
				curpage = maxpagecount;
				// this logic ensures that when we load the last page, we only load the last x remaining cards
				// instead of also including stuff from prior pages to fill in the "max items per page" threshold
				if (cards.length % maxitemsperpage === 0) {
					newstart = cards.length - maxitemsperpage;
				}
				else {
					newstart = cards.length - (cards.length % maxitemsperpage);
				}
				newend = cards.length;
			}
		}
		// set new page
		let newpage = cards.slice(newstart, newend)
		// unload the old page and load the new page
		for (let i = 0; i < oldpage.length; i++) { oldpage[i].style.display = ""; }
		for (let i = 0; i < newpage.length; i++) { newpage[i].style.display = "block"; }
	}
	function filter_cards() {
		let show_completed = document.getElementById("box_Completed").checked;
		let show_current = document.getElementById("box_Current").checked;
		let show_planned = document.getElementById("box_Planned").checked;
		for (let card of cards) { card.style.display = ""; }
		// if none or all are to be shown, show all
		if ((!show_completed && !show_current && !show_planned) || (show_completed && show_current && show_planned)) {
			cards = current.concat(planned).concat(completed);
		} else {
			cards = [];
			if (show_current) { cards = cards.concat(current); }
			if (show_planned) { cards = cards.concat(planned); }
			if (show_completed) { cards = cards.concat(completed); }
		}
		curpage = -1;
		return change_page();
	}
</script>

<h2>Projects we did or will do</h2>
<div>
	<p>
		<label for="box_Completed">Completed</label>
		<input id="box_Completed" name="box_Completed" type="checkbox" onchange="filter_cards()" />
		<br />
		<label for="box_Current">In progress</label>
		<input id="box_Current" name="box_Current" type="checkbox" onchange="filter_cards()" />
		<br />
		<label for="box_Planned">Planned</label>
		<input id="box_Planned" name="box_Planned" type="checkbox" onchange="filter_cards()" />
	</p>
</div>
<div id="cards">
	{% assign sprojs = site.data.projects | sort: "status", "last" %}
	{% for proj in sprojs %}
	{% include projectcard.html %}
	{% endfor %}
	<button type="button" onclick="change_page(false)"> &lt; </button>
	<p id="cardnav"></p>
	<button type="button" onclick="change_page(true)"> &gt; </button>
</div>
<script type="text/javascript">
	cards = Array.from(document.getElementsByClassName('card'));
	let a = cards.length % maxitemsperpage;
	let extra_page = a > 0 ? 1 : 0;
	var maxpagecount = ((cards.length - a) / maxitemsperpage) + extra_page;
	completed = cards.filter(item => { return item.classList.contains('3'); });
	current = cards.filter(item => { return item.classList.contains('1'); });
	planned = cards.filter(item => { return item.classList.contains('2'); });
	change_page();
	let cardnav = document.getElementById("cardnav");
	if (maxpagecount > 1) {
		for (let p = 0; p < maxpagecount; p++) {
			let pagelink = document.createElement("a");
			pagelink.classList += `jump_to_${p}`;
			pagelink.innerText = p + 1;
			cardnav.appendChild(pagelink);
			pagelink.onclick = (event) => {
				let target = Number(event.target.classList[0].replace('jump_to_', ''));
				let jump = target - curpage;
				change_page(true, jump);
			};
		}
	}
</script>
