<!-- footer container, needed for CSS magic-->
<footer id="footer-container">
	<!-- footer content -->
	<div id="footer">
		<p id="copyright-owners">This website is a property of The Alchemist Encodes.<br />
		Designed by <a target="_blank" href="https://github.com/TheJoseph98">TheJoseph98</a><br />
		© 2021 <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a><br />
		Bertha (© Gumi Inc.) is our mascot under Fair Use</p>
		<p id="github-logo">Hosted by <a target="_blank" href="https://github.com/"><img height="30" src="{{ 'assets/images/GitHub_Logo_White.png' | relative_url }}" /></a></p>
	</div>
</footer>
