<!-- header -->
<header id="header">
	<!-- Bertha logo and title -->
	<div id="title-logo">
		<img id="logo" src="{{ 'assets/images/bertha2.png' | relative_url }}" title="Bertha, our cute mascot!" alt="If you see this, Bertha has been kidnapped!" />
		<div id="title">
			<h1>The Alchemist Encodes</h1>
			<h4>~ For Whom the Autist Encodes ~</h4>
		</div>
	</div>

	<!-- navigation bar -->
	<nav id="navigation-bar">
		<ul id="navigation-links">
			{% for n in site.data.nav %}
			<li {% if page.url == n.link %}class="current"{% elsif n.link != "/" and page.dir == n.link %}class="current"{% endif %}>
				<a href="{{ n.link }}" {% if n.link contains 'nyaa.si' %}target="_blank"{% endif %}>{{ n.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
