$bg: rgb(20, 20, 20);
$textdefault: rgb(200, 200, 200);
$redtext: rgb(150, 75, 75);
$redblock: rgb(120, 50, 50);
$currentnav: rgb(100, 40, 40);

@font-face {
  font-family: PTSans;
  src: url('/assets/fonts/PTSans_normal.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: PTSans;
  src: url('/assets/fonts/PTSans_bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: PTSans;
  src: url('/assets/fonts/PTSans_italic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: PTSans;
  src: url('/assets/fonts/PTSans_bolditalic.ttf');
  font-style: italic;
  font-weight: bold;
}

// Basic stuff for all pages
body {
  background-color: $bg;
  color: $textdefault;
  font-family: PTSans;
  margin: 0;
}

h1,
h2,
h3 {
  color: $redtext;
}

// These get included everywhere
#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-around;
}

#title-logo {
  align-items: center;
  display: flex;
  height: 250px;
  justify-content: space-evenly;
  width: 640px;

  img {
    border-radius: 50%;
  }
}

#title {
  text-align: center;
}

#navigation-bar {
  background-color: $redblock;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 1024px;
  width: 100%;

  .current {
    background-color: $currentnav;
  }
}

#navigation-links {
  display: flex;
  height: 50px;
  margin-top: 0;
  max-width: 1024px;
  padding: 0 10px;

  a {
    align-items: center;
    color: $textdefault;
    display: flex;
    height: 100%;
    text-decoration: none;
  }

  li {
    display: inline;
    font-size: 1.25em;
    height: 100%;
    padding: 0 40px;
  }
}

#footer-container {
  display: flex;
  height: 100px;
  justify-content: center;
}

#footer {
  align-items: center;
  background-color: $redblock;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;

  p {
    padding: 0 15px;
  }

  p#github-logo {
    align-items: center;
    display: flex;

    a {
      display: flex;
    }
  }

  a {
    color: $textdefault;
    font-weight: 900;
    text-decoration: none;
  }
}
