$bg: rgb(20, 20, 20);
$textdefault: rgb(200, 200, 200);
$redtext: rgb(150, 75, 75);
$redblock: rgb(120, 50, 50);
$currentnav: rgb(100, 40, 40);
$scrollbarcolor: rgb(60, 60, 60) rgb(130, 130, 130);
$thbg: rgb(130, 95, 95);
$theven: rgb(30, 30, 30);
$tableborder: rgb(60, 50, 50);
$constructionborder: rgb(120, 60, 60);
