---

---
@import 'main';

#content-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

#content {
  max-width: 964px;
  min-height: 100%;
  padding: 0 30px;

  a {
    color: $redtext;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 85%;
    min-width: 60%;
    overflow-x: scroll;
    scrollbar-color: $scrollbarcolor;
    scrollbar-width: thin;

    th {
      background-color: $thbg;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: $theven;
    }

    td,
	th {
      border: 1px solid $tableborder;
      padding: 3px;
    }
  }

  #errimg {
    margin: 0 auto;
    max-width: 700px;
  }

  #construction {
    border: 1px solid $constructionborder;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
  }
}
