---
# Front Matter because this is /assets/css and not /_sass
---
@import 'vars';

#cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .card {
    background-color: $cardbg;
    border-color: $redtext;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    display: none;
    margin: 1vh auto;
    min-width: 90%;
    padding: 0 1vh 1vh;

    .projectname {
      display: block;
    }

    .cardcontent {
      display: flex;
      flex-direction: row;

      img,
      div {
        display: inline-block;
        margin-left: 1em;
      }
    }
  }
}

.cardtext {
  p {
    display: block;

    ul {
      display: inline-block;
    }
  }
}
