---
# Correct placement of Front Matter is pain
---
@import "main";

#header {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 230px;
}

#title-logo {
	height: 250px;
	width: 640px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	img{
		border-radius: 50%;
	}
}

#title {
	text-align: center;
}

#navigation-bar {
	max-width: 1024px;
	display: flex;
	height: 50px;
	background-color: rgb(120, 50, 50);
	justify-content: center;
	width: 100%;

	.current{
		background-color: rgb(100, 40, 40);
	}
}

#navigation-links {
	margin-top: 0px;
	padding: 0px 10px;
	height: 50px;
	max-width: 1024px;
	display: flex;

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: rgb(200, 200, 200);
		height: 100%;
	}

	li {
		display: inline;
		padding: 0px 40px;
		font-size: 18px;
		height: 100%;
	}
}

#content-container {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}

#content {
	max-width: 964px;
	padding: 0px 30px;
	min-height: 100%;

	a {
		color: rgb(150, 75, 75);
	}

	table {
		min-width: 60%;
		max-width: 85%;
		margin: 0 auto;
		border-collapse: collapse;
		overflow-x: scroll;
		scrollbar-color: rgb(60, 60, 60) rgb(130, 130, 130);
		scrollbar-width: thin;

		th {
			background-color: rgb(130, 95, 95);
			text-align: center;
		}

		tr:nth-child(even) {
			background-color: rgb(30, 30, 30);
		}

		td, th {
			border: 1px solid rgb(60, 50, 50);
			padding: 3px;
		}
	}

	#errimg {
		max-width: 700px;
		margin: 0 auto;
	}

	#construction {
		border: 1px solid rgb(120, 60, 60);
		border-radius: 10px;
		text-align: center;
		padding: 3%;
	}
}

#footer-container {
	display: flex;
	justify-content: center;
	height: 100px;
}

#footer {
	width: 100%;
	max-width: 1024px;
	background-color: rgb(120, 50, 50);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;

	p {
		padding: 0px 15px;
	}

	p#github-logo {
		display: flex;
		align-items: center;
	}

	a {
		text-decoration: none;
		color: rgb(200, 200, 200);
		font-weight: 900;
	}
}

#github-logo a {
	display: flex;
}

h1, h2, h3 {
	color: rgb(150, 75, 75);
}
