---
---
<!DOCTYPE html>
<html>
	<head>
		<title>TAC - {{ page.error }}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ 'assets/css/default.css' | relative_url }}">
		<!-- Rich embed preview stuff -->
		<meta property="og:site_name" content="The Alchemist Encodes" />
		<meta property="og:title" content="TAE - {{ page.error }}" />
		<meta id="ogimg" property="og:image" content="{{ 'assets/images/bertha.png' | relative_url }}" />
		<meta property="og:type" content="object" />
		<meta property="og:url" content="https://tae.moe/{{ page.url }}" />
		<meta property="og:description" content="{{ page.error }}" />
		<!-- Trying to set the image based on fetch time -->
		<script type="text/javascript">
			const ogimg = document.getElementById("ogimg");
			const d = new Date();
			const h = d.getUTCHours();
			if(h < 8 || h > 21){
				ogimg.content = ogimg.content.replace(".png", "2.png");
			}
		</script>
	</head>
	<body>
		{% include header.html %}

		<!-- page content container, needed for CSS magic -->
		<section id="content-container">
			<!-- page content -->
			<section id="content">
				{{ content }}
				<p>
					If this error persists, please contact us so we can resolve it.
				</p>
				<img src="{{ 'assets/images/Bertha_cannon.png' | relative_url }}" title="It's been a long day" alt="Wait, where'd Bertha and her cannon go?" id="errimg" />
			</section>
		</section>

		{% include footer.html %}
	</body>
</html>
